@model Recipe

@{
    ViewBag.Title = "Recipes register";

    var action = "edit";
    if(Model.Id == 0)
    {
        action = "create";
    }
}

<h2>Recipes register</h2>

<form asp-controller="AddRecipe" asp-action="@action" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="Title" value="@Model.Title" required>
    </div>
    <div class="form-group">
        <label for="foto">Foto</label>
        <input placeholder="Insert image title" type="text" class="form-control" id="foto" name="Foto" value="@Model.Foto" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="Description" rows="3" required>@Model.Description</textarea>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" name="Category.Title" required>
            <option value="">Choose a category</option>
            <option selected value="Desserts">Dessert</option>
            <option value="Meat">Meat</option>
            <option value="Poultry">Poultry</option>
            <option value="Seafood">Seafood</option>
            <option value="Salad">Salad</option>
        </select>
    </div>
    <div class="form-group">
        <label>Tags</label>
        <ul id="tags">
            @if(Model.Tags.Count > 0)
            {
                int counter = 0;
                @foreach (var step in Model.Tags)
                {
                    <li>
                        <input type="text" name="tags[@counter].Name" value="@step.Name">
                        <button type="button" class="btn btn-danger" onclick="$(this).closest('li').remove()">Remove</button>
                    </li>

                    counter++;
                }
            }

            @if (Model.Tags.Count == 0)
            {
                <li>
                    <input type="text" name="tags[0].Name">
                    <button type="button" class="btn btn-danger" onclick="$(this).closest('li').remove()">Remove</button>
                </li>
            }
            
        </ul>
        <button type="button" class="btn btn-secondary" onclick="addTags()">Add Tags</button>
    </div>
    <div class="form-group">
        <label>Ingredients</label>
        <ul id="ingredients">
            @if (Model.Ingredients.Count > 0)
            {
                int counter = 0;
                @foreach (var step in Model.Ingredients)
                {
                    <li>
                        <input type="text" name="ingredients[@counter].Name" value="@step.Name">
                        <button type="button" class="btn btn-danger" onclick="$(this).closest('li').remove()">Remove</button>
                    </li>

                    counter++;
                }
            }

            @if (Model.Ingredients.Count == 0)
            {
                <li>
                    <input type="text" name="ingredients[0].Name">
                    <button type="button" class="btn btn-danger" onclick="$(this).closest('li').remove()">Remove</button>
                </li>
            }
        </ul>
        <button type="button" class="btn btn-secondary" onclick="addIngredient()">Add Ingredient</button>
    </div>
    <div class="form-group">
        <label>how to prepare</label>
        <ul id="prepareModes">
            @if (Model.PrepareModes.Count > 0)
            {
                int counter = 0;
                @foreach (var step in Model.PrepareModes)
                {
                    <li>
                        <input type="text" name="prepareModes[@counter].Name" value="@step.Name">
                        <button type="button" class="btn btn-danger" onclick="$(this).closest('li').remove()">Remove</button>
                    </li>

                    counter++;
                }
            }

            @if (Model.PrepareModes.Count == 0)
            {
                <li>
                    <input type="text" name="prepareModes[0].Name">
                    <button type="button" class="btn btn-danger" onclick="$(this).closest('li').remove()">Remove</button>
                </li>
            }
        </ul>
        <button type="button" class="btn btn-secondary" onclick="addPreparationMethod">Add Preparation Method</button>
    </div>

    <span asp-validation-for="Title" class="text-danger"></span>
    <span asp-validation-for="Tags" class="text-danger"></span>
    <span asp-validation-for="Ingredients" class="text-danger"></span>
    <span asp-validation-for="PrepareModes" class="text-danger"></span>
    <br/>
    <button type="submit" class="btn btn-success" >Salve</button>
    <a href="@Url.Action("Index", "Home")" class="btn btn-default">Cancell</a>

</form>

<script>
    let ingredientsCount = @Model.Ingredients.Count;
    let prepareModesCount = @Model.PrepareModes.Count;
    let tagsCount = @Model.Tags.Count;

    function addTags() {
        tagsCount++
        var ingredients = $("#tags");
        var li = $("<li>");
        var input = $("<input>").attr("type", "text").attr("name", `tags[${tagsCount}].Name`);
        var button = $("<button>").attr("type", "button").addClass("btn").addClass("btn-danger").text("Remove").on("click", function () {
            $(this).closest("li").remove();
        });
        li.append(input).append(button);
        ingredients.append(li);
    }

    function addIngredient() {
        ingredientsCount++
        var ingredients = $("#ingredients");
        var li = $("<li>");
        var input = $("<input>").attr("type", "text").attr("name", `ingredients[${ingredientsCount}].Name`);
        var button = $("<button>").attr("type", "button").addClass("btn").addClass("btn-danger").text("Remove").on("click", function () {
            $(this).closest("li").remove();
        });
        li.append(input).append(button);
        ingredients.append(li);
    }

    function addPreparationMethod() {
        prepareModesCount++
        var preparationMethod = $("#prepareModes");
        var li = $("<li>");
        var input = $("<input>").attr("type", "text").attr("name", `prepareModes[${prepareModesCount}].Name`);
        var button = $("<button>").attr("type", "button").addClass("btn").addClass("btn-danger").text("Remove").on("click", function () {
            $(this).closest("li").remove();
        });
        li.append(input).append(button);
        preparationMethod.append(li);
    }

</script>

